@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #ec5242;
  --dark-color: #272a31;
  --light-color: #d3d3d3;
  --lighter-color: #f7f7f7;
  --gray-color: #3d3d3d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

body {
  font-family: "Lato", sans-serif;
  /* font-family: 'Gothic A1', Arial, Helvetica, sans-serif; */
  color: #333;
  line-height: 1.6;
  background: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

/* navbar */
.navbar-top {
  display: block;
  height: 30px;
  color: #fff;
  background: var(--gray-color);
}

.navbar-top .flex {
  justify-content: end;
  gap: 20px;
}

.navbar img {
  width: 100px;
}

.navbar-top a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.navbar {
  display: block;
  height: 70px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar .flex {
  justify-content: space-between;
}

.navbar i {
  display: none;
}

.navbar .navbar-link {
  display: flex;
  gap: 60px;
}

/* showcase */
.showcase nav {
  display: none;
}

.showcase nav .flex {
  justify-content: start;
  padding: 10px 20px;
  font-size: 30px;
  color: var(--dark-color);
}

.showcase {
  background: url("../images/desktop-about-bg_img.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  /* padding: 5rem 0; */
  height: 680px;
}

.showcase .container {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  height: 100%;
}

.showcase .showcase-text h3 {
  font-size: 20px;
  color: var(--primary-color);
  margin: 0;
}

.showcase .title {
  color: transparent;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url("../images/orangebg.jpg");
}

.showcase .showcase-card {
  border: 3px solid #fff;
  background: var(--lighter-color);
}

.showcase .showcase-card {
  color: var(--grey-color);
  font-weight: 400;
  padding: 10px 20px;
  font-size: 14px;
  max-width: 610px;
}

.showcase h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--gray-color);
}

.showcase .showcase-p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-color);
}

/* program */
.program {
  background-color: var(--dark-color);
  background-image: url("../images/pattern_bg.png");
  margin: 0;
  padding: 30px 0;
}

.program .container {
  flex-direction: row;
  gap: 5px;
}

/* .program .grid {
  grid-template-columns: 1fr;
} */

.program .program-card {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 0px;
  background: rgba(211, 211, 211, 0.12);
  padding: 20px;
}

.program h3 {
  font-size: 16px;
  padding: 0;
}

.program p {
  font-size: 14px;
  padding: 0;
}

.program .program-dl {
  color: var(--light-color);
  text-align: center;
  margin: 50px 0;
}

.program .program-dl a {
  color: var(--light-color);
  text-align: center;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.program .mobile-cc {
  display: none;
}

/* Speakers */
.speaker {
  padding: 30px 0;
}

.speaker .flex{
  gap: 10px;
}

@media (max-width: 768px) {
  .showcase .title {
    color: transparent;
    font-size: 2rem;
  }

  .showcase {
    background: url("../images/desktop-about-bg_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navbar {
    display: none;
  }

  .navbar-top {
    display: none;
  }

  .showcase nav {
    display: block;
  }

  .program .container {
    flex-direction: column;
    gap: 5px;
  }

  .program .program-card {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background: rgba(211, 211, 211, 0.12);
    padding: 10px;
    width: 100%;
  }

  .program .program-card h3 {
    text-align: start;
  }

  .program .program-card p {
    text-align: start;
  }

  .program .program-dl {
    display: none;
  }

  .program .mobile-cc {
    display: block;
    background: var(--primary-color);
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 80%;
  }

  .program .mobile-cc a {
    color: var(--light-color);
    text-align: center;
  }

  .speaker .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .speaker .speaker-img {
    /* width: 50%; */
  }

  .speaker img {
    min-width: 50%;
  }

  .speaker .speaker-card-details h3 {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin: 0px;
  }

  .speaker .speaker-card-details p:nth-child(2) {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    margin: 5px 0;
  }

  .speaker .speaker-card-details p:nth-child(2)::after {
    content: "";
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid var(--primary-color);
    width: 30px;
  }

  .speaker .speaker-card-details p:nth-child(3) {
    font-size: 11px;
    font-weight: 600;
    margin: 5px 0;
  }
}
