.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
}

.btn:hover {
  transform: scale(0.9);
}

.btn-hover:hover {
  background: #6070ff;
  color: #fff;
}

.btn-hover-2:hover {
  border: 1px solid #fff;
  background: #6070ff;
  color: #fff;
}

.btn-pressed:active {
  background: #2230d2;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  border: 5px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 17px;
}

.btn-disable:disabled {
  border: 1px solid#5E6C84;
  background: transparent;
  color: #5e6c84;
}

.btn-default {
  background-color: #fff;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 17px;
}

/* text */
.title-main {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

.title-main::after {
  content: "";
  display: flex;
  padding: 8px 0;
  margin: 0 auto;
  border-bottom: 2px solid var(--primary-color);
  width: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

/* color */
.primary {
  color: var(--primary-color);
}

.white {
  color: #fff;
}

.dark {
  color: var(--dark-color);
}

.gray {
  color: var(--gray-color);
}
